:root {
  --primary-color: #FFFDDE;
  --secondary-color: #655d8a;
  --tertiary-color: #1572A1;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 
}

.karate-page-link {
    color: var(--primary-color) !important;
}

.hero {
  background-color: white;
    margin-top: 100px;
}

body {
  margin: 60px auto;
  max-width: 800px;
  background: var(--secondary-color);
}

.linkedin-diana {
  font-size: 20px;
  margin: 0 auto;
  margin-left: 5px;
  color: var(--tertiary-color) !important;
}

.text-start {
  color:white;  
}

.text-end {
  color:white;
 }
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.front-end-dev {
color: white;
}

.aboutmepage {
  color: white;
}

.shotokan-karate {
width: 397px;
}

p {
  background: var(--tertiary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
   color: var(--primary-color);
}

.navbar-nav {
    justify-content: center;
    align-items: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
   color: var(--secondary-color);
}

.about-link {
background: var(--primary-color);
  box-shadow: var(--box-shadow);
   color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.diana {
  text-align: center;
  display: block;
  font-family: "Courgette", cursive;
}

.aboutmepage {
  text-align: center;
  display: block;
  font-family: "Courgette", cursive;
}

.diana-image {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.front-end {
  text-align: center;
  display: block;
  font-size: 28px;
  font-family: "Courgette", cursive;
}
.shotokan {
  max-width: 250px;
}

.codedby {
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: "Courgette", cursive;
  color: white;
}

@media (min-width: 576px) {
  .diana {
    font-size: 100px;
  }
}
